{% extends "base.html" %}
{% from "form_macro.html" import render_field %}


{% block title %}
Hackerspace -- Add car
{% endblock %}

{% block main %}
  <div class="container">
    <section>
        <br>
        <h2>Add a new car</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            
            {{ render_field(form.description, size=50) }}
            <button type="submit" class="submit btn pink accent-4">Submit</button>
    </section>
  </div>
{% endblock %}
