<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %} Flask-TODO {% endblock %}</title>

  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <!-- Navigation / Header -->
  {% block nav %} {% include "includes/nav.html" %} {% endblock %}
  <!-- Main -->
  <main>
    <!-- Flash notifications -->
    {% block flash %}  {% endblock %}
    <!-- Main content -->
    {% block main %}
    <div class="container">
      404
    </div>
    {% endblock %}
  </main>
  <!-- Footer -->
  {% block footer %}
  {% endblock %}
  <!-- Scripts  -->
  <!-- External JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- Flash popup's -->
  {% include "includes/flash.html"%}
</body>

</html>
