{% extends 'base.html' %}

{% block title %}
    Hackerspace -- Witaj!
{% endblock %}

{% block main %}

    <section class="buttons">
        <br>
        <h2>Pierwsze spotkanie:</h2>
            <ul>
                <li><a href="{{ url_for('random_list', length=5) }}" role="button">Losowa lista</a></li>
                <li><a href="{{ url_for('some_json') }}" role="button">Test Json'a</a></li>
            </ul>
    </section>

    <section>
        <h2>Ostatnio dodane auta:</h2>
        {% if new_cars %}
            <ul>
                {% for car in new_cars %}
                    <li>
                        {{ car.owner.name }} -- {{ car.description }} -- {{ car.plate }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No cars yet.
        {% endif %}
    </section>

{% endblock %}