{% extends 'layout.html' %}

{% block main %}
    <h1>Hackerspace
        {% if name %}
         - Witaj {{ name }}!!!
        {% endif %}
    </h1>

    <a class="btn btn-info" href="{{ url_for('index') }}" role="button">Start</a>
    <a class="btn btn-info" href="{{ url_for('formularz') }}" role="button">Formularz</a>
    <a class="btn btn-info" href="{{ url_for('some_json') }}" role="button">Test Json'a</a>
    <a class="btn btn-info" href="{{ url_for('car_club') }}" role="button">Car Club</a>

{% endblock %}