{% extends 'base.html' %}
{% block title %} Hackerspace -- Witaj! {% endblock %}
{% block main %}
<div class="container">

  <section>
    <h4>Ostatnio dodane zadania</h4> {% if new_tasks %}
    <table>
      <thead>
        <tr>
          <th>Właściciel</th>
          <th>Opis</th>
          <th>Utworzono</th>
          <th>Deadline</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        {% for task in new_tasks %}
        <tr>
          <td>{{ task.user.name }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.date_created }}</td>
          <td>{{ task.date_due }}</td>
          <td>{{ task.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %} No cars yet. {% endif %}
  </section>

</div>

{% endblock %}
