
{% extends "base.html" %}
{% from "form_macro.html" import render_field %}
{% block title %} Hackerspace -- Zaloguj
{% endblock %}
{% block main %}
<div class="container">
  <section>
    <br>
    <h3>Logowanie</h3>
    <form action="" method="post">

      {{ form.hidden_tag() }}
      <!-- <table> -->
        {{ render_field(form.name, size=50) }}
        {{ render_field(form.password, size=50) }}
        {{ render_field(form.remember_me) }}
        <!-- NOTE: Nie można dodać klasy btn xD -->
        {# {{ render_field(form.submit) }} #}
        <br>
        <button class="submit btn pink accent-4">Zaloguj</button>
      <!-- </table> -->
    </form>
  </section>
</div>

{% endblock %}
