
<nav>
  <div class="nav-wrapper">
    <a href="{{ url_for('index') }}" class="brand-logo center">Hackerspace - TODO</a>
    <ul id="nav-mobile" class="right">
      <li><a href="{{ url_for('add_car') }}">Dodaj auto</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Zaloguj</a></li>
      <li><a href="{{ url_for('sign_up') }}">Rejestracja</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
