{% extends "base.html" %}
{% from "form_macro.html" import render_field %}


{% block title %}
    Hackerspace -- Zarejestruj
{% endblock %}

{% block main %}
    <section class="container">
        <br>
        <h3>Rejestracja</h3>
        <form action="" method="post">

            {{ form.hidden_tag() }}
            <div class="">
                {{ render_field(form.name, size=50) }}
                {{ render_field(form.email, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.password2, size=50) }}
                <button class="submit btn pink accent-4">Zarejestruj się</button>
                <!-- <tr>
                    <td></td>
                    <td></td>
                </tr> -->
            </div>
        </form>
    </section>
{% endblock %}
