{% extends "base.html" %}
{% from "form_macro.html" import render_field %}


{% block title %}
    Hackerspace -- Zarejestruj
{% endblock %}

{% block main %}
    <section>
        <br>
        <h2 style="clear:both">Zaloguj się:</h2>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {{ render_field(form.owner, size=50) }}
                {{ render_field(form.email, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.password2, size=50) }}

                <tr>
                    <td></td>
                    <td><button class="submit">Zatwierdź</button></td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}
