
<nav class="green darken-3">
  <div class="nav-wrapper container">
    <a href="{{ url_for('index') }}" class="brand-logo left">Flask TODO</a>
    <ul id="nav-mobile" class="right">
      <li><a href="{{ url_for('add_task') }}" class="waves-effect waves-light btn green accent-3 accent-4">Nowe Zadanie</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('logout') }}">Wyloguj</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}">Zaloguj</a></li>
      <li><a href="{{ url_for('sign_up') }}">Rejestracja</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<br><br>
